div{
    height: 300px;
    width: 300px;
    background-size: cover;
    background-image: url(astrology\ for\ q-1.jpg.jpg);
    position: fixed;
    top: 50px;
    right: 0px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}